* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

span {
  color: #ff8800;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flexible-container-col-2 {
  display: flex;
}

.flexible-container-col-3 {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.button {
  text-decoration: none;
  background-image: linear-gradient(#c03838, #ffa500);
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  padding: 16px 20px;
  border-radius: 30px;
}

.button:hover {
  background-image: linear-gradient(#fdbb2d, #c32277);
  color: black;
  font-size: 1.2em;
  font-weight: 700;
}

/* navbar  */

#navbar {
  background-color: rgb(54, 50, 50);
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 14px;
}

#navbar ul {
  list-style-type: none;
  text-align: center;
}

.list-style {
  display: inline;
  margin: 30px 50px 30px 50px;
  font-size: 2em;
}

.list-style a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.list-style a:hover {
  color: #ff8800;
}

/* hero section  */

.hero {
  margin-bottom: 50px;
}

.half-width {
  flex: 6;
}

.half-width img {
  width: 90%;
  padding-top: 40px;
}

.text h1 {
  font-size: 3em;
  line-height: 1.5em;
  color: #575757;
}

.text h2 {
  font-weight: 700;
  font-size: 40px;
  color: rgba(112, 112, 112, 1);
}

.text p {
  padding-top: 35px;
  padding-bottom: 50px;
  padding-right: 80px;
  font-size: 20px;
  line-height: 1.5em;
  color: rgba(37, 37, 37, 1);
}

.text a {
  margin-top: 300px;
}

/* About  */

#about {
  background-image: url(./images/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 80px 0;
  padding: 60px 0 0 0;
}

#about img {
  width: 58%;
  padding-left: 30px;
}

/* recipies  */
.recipies-header {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.recipies-header h1 {
  color: rgba(103, 103, 103, 1);
  font-size: 36px;
  padding-bottom: 30px;
}

.recipies-header p {
  font-weight: 400;
  line-height: 1.7em;
}

.recipies-item {
  width: 28%;
  padding: 20px;
  box-shadow: 4px 5px 30px -10px rgb(81 76 76 / 75%);
  border-radius: 30px;
}

.recipies-item h2 {
  padding: 20px 0;
}

.recipies-item p {
  padding-bottom: 30px;
  font-weight: 400;
  line-height: 1.7em;
}

.recipies-item img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
}

/* achivements  */

#achivements {
  margin: 80px 0;
}

.achivements-wraper {
  box-shadow: 0px 0px 30px -10px rgb(81 76 76 / 75%);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
}
.achivements-items {
  padding: 0 80px;
}

.achivements-items h1 {
  padding-bottom: 16px;
}

/* contact  */

#contact {
  background-color: rgba(87, 97, 97, 0.356);
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.contact-form input {
  width: 100%;
  border-radius: 10px;
}

.contact-form textarea {
  width: 100%;
  padding: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.contact-header {
  text-align: center;
  font-size: 1.5em;
  padding: 20px 0 24px 0;
  color: rgba(112, 112, 112, 1);
}

.contact-items {
  text-align: center;
  margin: -0px 0 30px 0px;
  flex: 6;
}

.contact-items input,
.contact-items textarea {
  padding: 20px 16px;
}

.flexible-contact-items {
  display: flex;
  gap: 20px;
}

.submit-button {
  text-decoration: none;
  background-image: linear-gradient(#c03838, #ffa500);
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  padding: 16px 40px;
  border-radius: 30px;
  margin-top: 10px;
}

.submit-button:hover {
  background-image: linear-gradient(#fdbb2d, #c32277);
  color: rgba(0, 0, 0, 0.445);
  font-size: 1.2em;
  font-weight: 700;
}

/* footer */

#footer {
  background-color: rgb(54, 50, 50);
  color: white;
  text-align: center;
  padding: 40px 280px 40px 280px;
}

#footer h1 {
  margin-bottom: 16px;
}

#footer p {
  padding-bottom: 25px;
}
